<!-- action = what route this form will go to when submitted -->
<!-- method = what http verb the submission request will use -->
<form action="/cryptids" method="POST">
    <!-- name isthe key that this data will enter our app at -->
    <!-- should mathch up to the fields we want to save on our dino -->
    <label for="cryptidName">Name</label>
    <input id="cryptidName" type="text" name="name">
    
    <input type="submit">
    </form>
    
     